# iOS secrets
CartQuestiOS/CartQuestiOS/Secrets.xcconfig
CartQuestiOS/CartQuestiOS/GoogleService-Info.plist

# Android secrets
CartQuestAndroid/secrets.properties
CartQuestAndroid/app/google-services.json
